.button-container{
    padding-top: 4em;
    justify-content: center;
    flex-direction: row ;
    text-align: center;
    direction: center;
    position: fixed;
    top:0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    
}
.component-upload-button {
    /* background-color: #858694; */
    /* display: block; */
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 0 auto;
    display: flex;
    max-width: 200px;
    width:100%;
    position: absolute;
    top: 50%;
    /* margin:auto; */
    /* justify-content: space-evenly; */
  }

  .filepond-wrapper{

    padding-right: 4em;
    padding-left: 4em;
    
    /* padding-top: 15em; */

  }
  .component-upload-filepond {
    /* background-color: #858694; */
    /* display: block; */
    /* opacity: 1; */
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 0 auto;

    /* padding-top: 50%; */
    /* display: flex; */
    /* max-width: 3em; */
    /* width:100%; */
    /* position: absolute; */
    /* top: 50%; */
    width:15em;
    /* margin:auto; */
    /* justify-content: space-evenly; */
    color: #fff;

   

  }

  .input {
    display: none;
  }